@font-face {
  font-family: 'Barbra';
  src: url('Barbra-regular.ttf') format(truetype), url('Barbra-Regular.otf') format(opentype); 
}
/*
  tipos de format()
    - opentype(otf)
    - truetype (ttf)
    - embedded-opentype 
    - truetype-aat (apple advanced typography)
    - svg
*/
body {
  margin: 0px;
}

h1, h2, h3, p, ul {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  padding-bottom: 12px;
  object-fit: contain;
}

.container {
  box-sizing: border-box;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.botao-introducao {
  font: 1.25rem 'Josefin Sans', sans-serif;
  color: #ffffff;
  background: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px 36px;
  align-self: center;
}

.botao-introducao:hover {
  background-color: #1E1E1E;
  padding: 24px 40px;
  font-size: 1.5rem;
}

@media (max-width: 980px) {
  .botao-introducao {
    font-size: 15px;
    padding: 15px 20px;
  }
}

@media (max-width: 810px) {
  .botao-introducao {
    font-size: 12px;
    padding: 10px 15px;
    margin: 10px 0;
  }
}

@media (max-width: 500px){
  .botao-introducao {
    margin: 20px 0;
  }
}
